# Introduction to Data Science
## Homework 1: Due Midnight, March 4th. 1/3 of a Grade Deducted for each day late

Student Name: Ruojun Hong

Student Netid: rh2544
***

### Part 1: Case study
- Read [this article](http://www.nytimes.com/2012/02/19/magazine/shopping-habits.html) in the New York Times.
- Use what we've learned in class and from the book to describe how one could set Target's problem up as a predictive modeling problem, such that they could have gotten the results that they did.  Formulate your solution as a proposed plan using our data science terminology.  Include all the aspects of the formulation that you see as relevant to solving the problem.  Be precise but concise.

Place your answer here!

### Part 2: Dealing with messy data
Not all data you will deal with is going to be clean. In fact, much of it will be very messy! For example, we have the HTML page that lists the contributors to Facebook's [osquery](https://github.com/facebook/osquery) project that is hosted on [Github.com](https://github.com). In this case, all we are interested in are the contributors and how many commits each of them has. Given the HTML page in `"data/osquery_contributors.html"` you will sift through tons of irrelevant data so that you can build a useful data structure.

Notice that the first six (out of 59 total) contributors are named "theopolis", "marpaia", "javuto", "jedi22", "unixist", and "mofarrell". They have 553, 477, 104, 49, 30, 25 commits respectively.

![Screenshot](images/osquery_contributors.png)

To get a better of understanding of how this data is stored in the file, try searching through the raw data file for these usernames to look for any patterns. Your final dictionary should have 59 elements!

1\. Turn this data into a Python dictionary called `contributors` where the keys are the contributor names and the values are the number of commits that each contributor has.

In [56]:
import re # you might find this package useful
import os

contributors = dict()

# Place your code here
datadir = os.getcwd()+'/data/'
f = open(datadir+"osquery_contributors.html", "r")
for line in f:
    #print(line)
    author = re.search("author=\w+",line)
    commits = re.search("\d+ commit",line)
    if author:
        contributors[author.group(0)[7:]]=int(commits.group(0)[:-7])
        
# This line will print your dictionary for grading purposed. Do not remove this line!!!
print (contributors)

{'theopolis': 553, 'marpaia': 477, 'javuto': 104, 'jedi22': 49, 'unixist': 30, 'mofarrell': 25, 'sharvilshah': 23, 'lwhsu': 22, 'wxsBSD': 20, 'polachok': 14, 'zwass': 14, 'eastebry': 9, 'maus': 9, 'vmauge': 8, 'astanway': 6, 'maclennann': 6, 'blakefrantz': 6, 'akshaydixi': 5, 'arirubinstein': 4, 'cdown': 4, 'deniszh': 3, 'achmiel': 3, 'brandt': 3, 'nlsun': 3, 'mimeframe': 3, 'mgoffin': 2, 'mathieuk': 2, 'ga2arch': 2, 'glensc': 2, 'jreese': 2, 'Anubisss': 2, 'timzimmermann': 2, 'jamesgpearce': 2, 'schettino72': 2, 'castrapel': 2, 'mlw': 2, 'apage43': 1, 'SimplyAhmazing': 1, 'quad': 1, 'yannick': 1, 'blackfist': 1, 'DavidGosselin': 1, 'ecin': 1, 'arubdesu': 1, 'yetanotherhacker': 1, 'rjeczalik': 1, 'larzconwell': 1, 'justintime32': 1, 'alex': 1, 'vlajos': 1, 'dreid': 1, 'kost': 1, 'mtmcgrew': 1, 'tburgin': 1, 'mark': 1, 'shawndavenport': 1, 'jacknagz': 1, 'd0ugal': 1, 'stevenhilder': 1}

### Part 3: Dealing with data Pythonically

In [58]:
# You might find these packages useful. You may import any others you want!
import pandas as pd
import numpy as np

1\. Load the data set `"data/ads_dataset.tsv"` into a Python Pandas data frame called `ads`.

In [60]:
# Place your code here
ads = pd.read_csv(datadir+"ads_dataset.tsv",header=0,sep='\t')
ads.head(10)

,isbuyer,buy_freq,visit_freq,buy_interval,sv_interval,expected_time_buy,expected_time_visit,last_buy,last_visit,multiple_buy,multiple_visit,uniq_urls,num_checkins,y_buy
NaN,0,NaN,1,0.0,0.00000,0.0,0.00000,106,106,0,0,169,2130,0
NaN,0,NaN,1,0.0,0.00000,0.0,0.00000,72,72,0,0,154,1100,0
NaN,0,NaN,1,0.0,0.00000,0.0,0.00000,5,5,0,0,4,12,0
NaN,0,NaN,1,0.0,0.00000,0.0,0.00000,6,6,0,0,150,539,0
NaN,0,NaN,2,0.0,0.50000,0.0,-101.14930,101,101,0,1,103,362,0
NaN,0,NaN,1,0.0,0.00000,0.0,0.00000,42,42,0,0,17,35,0
NaN,0,NaN,1,0.0,0.00000,0.0,0.00000,42,42,0,0,42,110,0
NaN,0,NaN,2,0.0,29.79167,0.0,-106.18830,121,121,0,1,101,401,0
NaN,0,NaN,3,0.0,45.47917,0.0,-34.14473,64,64,0,1,100,298,0
NaN,0,NaN,1,0.0,0.00000,0.0,0.00000,13,13,0,0,53,247,0

2\. Write a Python function called `getDfSummary()` that does the following:
- Takes as input a data frame
- For each variable in the data frame calculates the following features:
  - `number_nan` to count the number of missing not-a-number values
  - Ignoring missing, NA, and Null values:
    - `number_distinct` to count the number of distinct values a variable can take on
    - `mean`, `max`, `min`, `std` (standard deviation), and `25%`, `50%`, `75%` to correspond to the appropriate percentiles
- All of these new features should be loaded in a new data frame. Each row of the data frame should be a variable from the input data frame, and the columns should be the new summary features.
- Returns this new data frame containing all of the summary information

Hint: The pandas `describe()` [(manual page)](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.describe.html) method returns a useful series of values that can be used here.

In [61]:
def getDfSummary(input_data):
    # Place your code here
    
    return output_data

3\. How long does it take for your `getDfSummary()` function to work on your `ads` data frame? Show us the results below.

Hint: `%timeit getDfSummary(ads)`

In [62]:
# Place your code here

4\. Using the results returned from `getDfSummary()`, which fields, if any, contain missing `NaN` values?

In [63]:
# Place your code here

5\. For the fields with missing values, does it look like the data is missing at random? Are there any other fields that correlate perfectly, or predict that the data is missing? If missing, what should the data value be?

Hint: create another data frame that has just the records with a missing value. Get a summary of this data frame using `getDfSummary()` and compare the differences. Do some feature distributions change dramatically?

In [ ]:
# Place your code here

6\. Which variables are binary?

In [ ]:
# Place your code here